.loading-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.loader{
    width:60px;
    height:60px;
    border:6px solid #dbeafe;
    border-top:6px solid #2563eb;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

.loading-container p{
    margin-top:20px;
    color:#2563eb;
    font-size:18px;
    font-weight:600;
}

@keyframes spin{

    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }

}